<footer id="MainFooter">
    <p class="h-card vcard">
        <img src="{{ site.main_logo | prepend: "/static/images/" | absolute_url }}" alt="" class="u-photo photo" />
        <a href="{{ site.url }}" class="p-name fn p-org org u-url url">{{ site.title }}</a><br />
        <span class="adr">
            <span class="p-street-address street-address">{{ site.data.contact_info.street_address }}</span>,
            <span class="p-locality locality">{{ site.data.contact_info.locality }}</span>,
            <span class="p-region region">{{ site.data.contact_info.region }}</span>,
            <span class="p-postal-code postal-code">{{ site.data.contact_info.postal_code }}</span>
        </span>
        {% if site.data.contact_info.telephone %}<a href="tel:{{ site.data.contact_info.telephone | replace: "-", "" | replace: "(", "" | replace: ")", "" | replace: ".", "" }}" class="p-tel tel">{{ site.data.contact_info.telephone }}</a>{% endif %}
        {% if site.data.contact_info.email %}<a href="mailto:{{ site.data.contact_info.email }}" class="u-email email">{{ site.data.contact_info.email }}</a>{% endif %}
    </p>
    <p>(<a href="https://h2vx.com/vcf/get-contact.php?uri={{ "/" | absolute_url | cgi_escape }}">Add our contact information to your address book</a>.)</p>
    <p>Website by <a href="https://shiftctrl.space/">Shift-CTRL Space</a>.</p>
</footer>
