---
layout: none
---

/**
 * @group Variables.
 */
:root {
    --main-color: #4e76c3;   /* Café Esencia Blue*/
    --accent-color: #eddca8; /* Café Esencia Yellow */
}

/**
 * @group Typography.
 */
@font-face {
    font-family: proxima-nova;
    src: url("../fonts/proxima-nova/proxima-nova.woff") format("woff2"), url("../fonts/proxima-nova/proxima-nova.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: proxima-nova;
    src: url("../fonts/proxima-nova/proxima-nova-semibold.woff") format("woff2"), url("../fonts/proxima-nova/proxima-nova-semibold.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: proxima-nova;
    src: url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

body {
    background: #fff;
    color: var(--main-color);
    font: 300 18px/1.1em proxima-nova;
    letter-spacing: 0em;
}

#Masthead,
#MainContent {
    margin: 0 auto;
    max-width: 970px;
}
#Masthead {
    padding: 14px 0;
}
#Masthead h1 {
    float: left;
    margin: 0 50px 0 0;
}
#Masthead h1 img {
    height: 94px;
}
#Masthead h1 img:hover {
    filter: hue-rotate(360deg);
    transition: filter 2s;
}
#MainNavigation {
    font: 600 18px/94px proxima-nova;
    letter-spacing: .12em;
    text-transform: uppercase;
}
#MainNavigation li {
    display: inline-block;
}
#MainNavigation a {
    padding: 0 .5em;
    color: var(--main-color);
    text-decoration: none;
}
#MainNavigation li.current a {
    color: var(--accent-color);
}

.dotleader {
    overflow: hidden;
}
.dotleader li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . " 
        ". . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.dotleader li li:before {
    display: none;
}
.dotleader li {
    margin-bottom: 5px;
}
.dotleader span {
    background: #fff;
}
.dotleader span + span {
    float: right;
}

main h1 {
    line-height: 1.1em;
}
main h2 {
    font-size: smaller;
}
.menu-section {
    column-count: 2;
}
#menu h1 {
    border-bottom: 1px solid var(--accent-color);
}
#menu h2 {
    margin-top: 0;
}
main footer {
    font-size: smaller;
    text-align: center;
}

#MainContent ul {
    margin: 1em 0;
    list-style-position: inside;
}
#MainContent ul ul {
    margin: 0 0 1em 2em;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    line-height: 0;
}
#gallery > li {
    position: relative;
}
#gallery li > a:first-child {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
#gallery img {
    width: 322px;
    height: 215px;
    object-fit: cover;
}
#gallery figcaption {
    display: none;
}
.gallery-lightbox:target {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    background: rgba(0, 0, 0, .9);
    color: #fff;
}
.gallery-lightbox .btn-close {
    display: none;
}
.gallery-lightbox:target .btn-close {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 18px;
    text-decoration: none;
}
#gallery .gallery-lightbox:target a {
    color: inherit;
}
#gallery .gallery-lightbox:target img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-position: center !important;
    object-fit: contain;
}
#gallery .gallery-lightbox:target:hover figcaption {
    display: block;
    position: absolute;
    left: 40px;
    bottom: 20px;
    box-sizing: border-box;
    width: calc(100% - 80px);
    height: 6em;
    padding: 2em;
    background: rgba(0, 0, 0, .6);
    line-height: 1em;
    text-align: center;
}

#OpeningHours,
#Map {
    margin-bottom: 2em;
    width: calc(50% - 2em);
}
#OpeningHours {
    border: 2px solid #4285f4;
    float: left;
}

#OpeningHours ol {
    margin: 2em;
}

#OpeningHours h1 {
    text-align: center;
    font: 300 2em/1.1em proxima-nova;
    text-transform: uppercase;
}

#Map {
    float: right;
}

.menu-item-photo {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 50%;
    border-radius: 1em;
}

h1#featured-in + ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}
h1#featured-in + ul img {
    max-width: 100%;
}

#MainFooter {
    clear: both;
    border-top: 1px solid var(--main-color);
    padding: 2em;
    font-size: 14px;
    text-align: center;
}
#MainFooter .u-photo,
#MainFooter .u-email {
    display: none;
}

/**
 * @group Mobile "tablet" styles. Medium-size width.
 */
@media screen and (max-width: 999px) {
    #Masthead,
    #MainContent {
        max-width: 90%;
    }
    #Masthead h1 {
        float: none;
        text-align: center;
        margin-right: 0;
    }
    #gallery {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 499px) {
    #MainNavigation li {
        display: list-item;
        line-height: 1.5em;
        text-align: center;
    }
    #OpeningHours,
    #Map {
        width: auto;
        float: none;
    }
    #gallery {
        grid-template-columns: 1fr;
    }
    .menu-section {
        font-size: 14px;
        column-count: 1;
    }
}
